<div class="card">
    <p-table 
        [value]="stockCertificates" 
        [virtualScroll]="true" 
        [virtualRowHeight]="34"
        [scrollable]="true"
        [rows]="100" 
        scrollHeight="250px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Stock Name</th>
                <th>Amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stockCertificate>
            <tr>
                <td>{{stockCertificate.stock.name}}</td>
                <td>{{stockCertificate.amount}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
