
<h2>People Table</h2>

<div class="card">
    <p-table 
        [value]="people" 
        [virtualScroll]="true" 
        [virtualRowHeight]="34"
        [scrollable]="true"
        [rows]="100" 
        scrollHeight="500px"
    >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Refresh Table" class="p-button-outlined" icon="pi pi-refresh" (click)="refresh()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Person</th>
                <th>Id</th>
                <th>Name</th>
                <th>Money</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
            <tr>
                <button (click)="selectPerson(person.id)" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
                <td>{{person.id}}</td>
                <td>{{person.name}}</td>
                <td>{{person.money}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

