<div class="card">
    <p-table #dt1
        [value]="orders" 
        [virtualScroll]="true" 
        [virtualRowHeight]="34"
        [scrollable]="true"
        [rows]="100" 
        scrollHeight="500px"
        [globalFilterFields]="['stock.name', 'orderType', 'orderStatus', 'person.name']"
    >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Refresh Table" class="p-button-outlined" icon="pi pi-refresh" (click)="refresh()"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Order ID</th>
                <th>Creation Date</th>
                <th>Stock</th>
                <th>Order Type</th>
                <th>Order Status</th>
                <th>Person</th>
                <th>Amount</th>
                <th>Value</th>
                <th>Total Value</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.creationTimeFormatted}}</td>
                <td>{{order.stock.name}}</td>
                <td>{{order.orderType}}</td>
                <td>{{order.orderStatus}}</td>
                <td>{{order.person.name}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.value}}</td>
                <td>{{(order.value * order.amount).toFixed(2)}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
